 <footer>
      <div class="container">
        <div class="social-links" aria-label="Réseaux sociaux">
          <a class="social-link" href="https://www.facebook.com/michelorchardwingchun" target="_blank" rel="noopener" aria-label="Facebook">
            <i data-feather="facebook"></i>
          </a>
          <!--
          <a class="social-link" href="https://x.com/michaelorchard7" target="_blank" rel="noopener" aria-label="X (Twitter)">
            <i data-feather="twitter"></i>
          </a>
          -->
          <a class="social-link" href="https://www.instagram.com/wingchun.michelorchard/" target="_blank" rel="noopener" aria-label="Instagram">
            <i data-feather="instagram"></i>
          </a>
          
          <a class="social-link" href="https://www.youtube.com/@iamcrsmtl" target="_blank" rel="noopener" aria-label="YouTube">
            <i data-feather="youtube"></i>
          </a>
        </div>
        <div data-i18n="footer.copy">© Kung-Fu Wing Chun Michel Orchard (2026)</div>
      </div>
    </footer>